<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - KCert</title>
    <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">KCert</a>
                <a class="nav-link" asp-controller="Challenge" asp-action="Index">Challenge Ingress</a>
                <a class="nav-link" asp-controller="Configuration" asp-action="Index">Configuration</a>
            </nav>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - <a href="https://github.com/nabsul/kcert">Nabeel Sulieman</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
