apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ required "Chart requires name value" .Values.name }}
  namespace: {{ .Release.Namespace | default "default" }}
  labels:
    kcert.dev/ingress: "managed"
  {{- if and (.Values.ingressClassAnnotation) (.Values.ingressClassName) }}
  annotations:
    kubernetes.io/ingress.class: {{ required "Chart requires class name value" .Values.ingressClassName | quote }}
  {{- end }}
spec:
  {{- if and (not .Values.ingressClassAnnotation) (.Values.ingressClassName) }}
  ingressClassName: {{ required "Chart requires class name value" .Values.ingressClassName }}
  {{- end }}
  tls:
  - hosts:
    - {{ required "Chart requires host value" .Values.host }}
    secretName: {{ required "Chart requires name value" .Values.name }}
  rules:
  - host: {{ required "Chart requires host value" .Values.host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ required "Chart requires service value" .Values.service }}
            port:
              number: {{ required "Chart requires port value" .Values.port }}
