{{ if !.Values.allowedNamespaces }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "kcert.fullname" . }}
{{- if .Values.forHelm }}
  labels:
    {{- include "kcert.labels" . | nindent 4 }}
{{- end }}
subjects:
- kind: ServiceAccount
  name: {{ include "kcert.fullname" . }}
  namespace: {{ .Release.Namespace | default "kcert" }}
roleRef:
  kind: ClusterRole
  name: {{ include "kcert.fullname" . }}
  apiGroup: rbac.authorization.k8s.io
{{ end }}
