@model List<V1Ingress>
@{
    ViewData["Title"] = "Challenge Routes";
    var options = new JsonSerializerOptions { WriteIndented = true };
    var formatted = Model.Select(i => new
    {
        Name = i.Name(),
        Namespace = i.Namespace(),
        Tls = i?.Spec?.Tls?.Select(t => new
        {
            SecretName = t?.SecretName,
            Hosts = t?.Hosts,
        })?.ToArray(),
        Rules = i?.Spec?.Rules.Select(r => new
        {
            Host = r?.Host,
            Paths = r?.Http?.Paths?.Select(p => new
            {
                PathType = p.PathType,
                Path = p.Path,
                ServiceName = p?.Backend?.Service?.Name,
            }).ToArray()
        })
    }).ToList();
}

<h2>Ingresses</h2>

<p>
    These are the ingresses that KCert is handling:
</p>

<pre>
@Html.Raw(JsonSerializer.Serialize(formatted, options))
</pre>
