@model Networkingv1beta1Ingress
@{ ViewData["Title"] = "Challenge Ingress"; }

<h1>@(Model == null ? "No Ingress Found" : "Challenge Ingress")</h1>

<form method="post" asp-action="SyncChallengeHosts">
    <button type="submit" class="btn btn-primary">Sync Hosts</button>
</form>

<div>
    <h1 class="display-4">Challenge Routes</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Host</th>
                <th scope="col">Paths</th>
                <th scope="col">Services</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rule in Model?.Spec?.Rules ?? new Networkingv1beta1IngressRule[0])
            {
            <tr>
                <td>@rule.Host</td>
                <td>@string.Join(", ", rule?.Http?.Paths?.Select(p => p.Path) ?? new string[0])</td>
                <td>@string.Join(", ", rule?.Http?.Paths?.Select(p => p.Backend.ServiceName) ?? new string[0])</td>
            </tr>}
        </tbody>
    </table>
</div>
