@inject KCertConfig _cfg
@{
    ViewData["Title"] = "Configuration";
    var options = new JsonSerializerOptions { WriteIndented = true };
    var data = _cfg.AllConfigs;
}

<h2>KCert Configuration</h2>

<p>The following is a summary KCert settings:</p>

<pre>
@Html.Raw(JsonSerializer.Serialize(data, options))
</pre>

<form method="post" asp-action="Save">
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
        @if (!string.IsNullOrWhiteSpace(_cfg.SmtpHost))
        {
        <a class="btn btn-info" asp-action="TestEmail">Send Test Email</a>
        }
    </div>
</form>
